* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header {
    padding: 16px 0 0;
    border-bottom: 1px solid;
    margin-bottom: 56px;
}

.submenu{
    display: none;
    border: 1px solid blanchedalmond;
    background-color: #fff;
    position: absolute;
    left: 0;
    max-width: 300px;
    top: 100%;
}

.menu > li {
    float:left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear {
    clear: both;
}

.menuButton{
    display:none;
}

.menu li:hover .submenu{
    display:block;
}

.menu li:hover{
border-color: blanchedalmond;}
.submenu li {
    display:block;
    padding: 8px;
    list-style: none;
}

.content {
    display: grid;
    grid-template-columns: 70% 30%;
}

.notice img{
    max-width: 100%;
}
.highlight{
    margin-bottom: 56px;
}
.highlight .notice a {
    display: flex;
    font-size: 2em;

}

.highlight .notice img {
    margin-right: 8px;
}

aside .notice {
    padding-left: 40px;
}

aside .notice {
    margin-bottom: 24px;
}

.notices {
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 1%;
}

@media screen and (max-width: 767px) {
    .content {
        display:block; 
    }
    .container {
        max-width: 90%;
    }

    .highlight .notice a {
        display:block;
        font-size: 1.5em;
    }

    .highlight .notice img {
        margin-right: 0;
    }
    .notices {
        display: block;

    }

    .notices .notice {
        margin-bottom: 32px;
    }
    aside .notice{
        padding-left: 0;
    }
    header div.container {
        flex-direction: column;
    }


.submenu{
    display: block;
    width: 100%;
    top: 100%;
    position: relative;
    border:none;
}
.menu {
    display: none;
}
.menu > li {
    clear:both;

}


.submenu li {
    display:block;
    padding: 8px;
    list-style: none;
}
.menuButton{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 16px;
}

.menuButton button {
    padding: 8px;
}
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .container{
        max-width: 90%
    }
    .menuButton{
        display:none;
    }
    .highlight .notice a {
        font-size: 1.5em;

    }
    .notices {
        grid-template-columns: repeat (2, 49%);
    }
}